<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jfhealthcare.modules.label.mapper.LabelInfoMapper" >
  <resultMap id="BaseResultMap" type="com.jfhealthcare.modules.label.entity.LabelInfo" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="UID" property="uid" jdbcType="VARCHAR" />
    <result column="STUDY_UID" property="studyUid" jdbcType="VARCHAR" />
    <result column="SERIES_UID" property="seriesUid" jdbcType="VARCHAR" />
    <result column="IMAGE_UID" property="imageUid" jdbcType="VARCHAR" />
    <result column="UPD_USER" property="updUser" jdbcType="VARCHAR" />
    <result column="UPD_TIME" property="updTime" jdbcType="TIMESTAMP" />
    <result column="WIN_WIDTH" property="winWidth" jdbcType="DOUBLE" />
    <result column="
WIN_LEVEL" property="
winLevel" jdbcType="DOUBLE" />
    <result column="TRANSFER_UID" property="transferUid" jdbcType="VARCHAR" />
    <result column="CLASS_UID_ID" property="classUidId" jdbcType="VARCHAR" />
    <result column="BACKUP_LABEL" property="backupLabel" jdbcType="VARCHAR" />
    <result column="KEY_IMAGE" property="keyImage" jdbcType="BIT" />
    <result column="N_ROWS" property="nRows" jdbcType="INTEGER" />
    <result column="N_COLUMNS" property="nColumns" jdbcType="INTEGER" />
    <result column="BITS_ALLOCATED" property="bitsAllocated" jdbcType="INTEGER" />
    <result column="N_FRAMES" property="nFrames" jdbcType="INTEGER" />
  </resultMap>
</mapper>