<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jfhealthcare.modules.label.mapper.ViewLabellistMapper">
	<resultMap id="BaseResultMap"
		type="com.jfhealthcare.modules.label.entity.ViewLabellist">
		<!-- WARNING - @mbg.generated -->
		<result column="check_num" property="checkNum" jdbcType="VARCHAR" />
		<result column="study_uid" property="studyUid" jdbcType="VARCHAR" />
		<result column="series_uid" property="seriesUid" jdbcType="VARCHAR" />
		<result column="body_part" property="bodyPart" jdbcType="VARCHAR" />
		<result column="series_number" property="seriesNumber"
			jdbcType="VARCHAR" />
		<result column="modality" property="modality" jdbcType="VARCHAR" />
		<result column="ptn_name" property="ptnName" jdbcType="VARCHAR" />
		<result column="birth_date" property="birthDate" jdbcType="DATE" />
		<result column="sex" property="sex" jdbcType="VARCHAR" />
		<result column="sex_code" property="sexCode" jdbcType="VARCHAR" />
		<result column="ptn_age" property="ptnAge" jdbcType="VARCHAR" />
		<result column="ptn_age_unit" property="ptnAgeUnit" jdbcType="VARCHAR" />
		<result column="ptn_age_unit_code" property="ptnAgeUnitCode"
			jdbcType="VARCHAR" />
		<result column="hight" property="hight" jdbcType="VARCHAR" />
		<result column="weight" property="weight" jdbcType="VARCHAR" />
		<result column="Wmodality" property="wmodality" jdbcType="VARCHAR" />
		<result column="study_time" property="studyTime" jdbcType="TIMESTAMP" />
		<result column="Wbody_part" property="wbodyPart" jdbcType="VARCHAR" />
		<result column="apply_doc" property="applyDoc" jdbcType="VARCHAR" />
		<result column="apply_org" property="applyOrg" jdbcType="VARCHAR" />
		<result column="apply_status_code" property="applyStatusCode"
			jdbcType="VARCHAR" />
		<result column="apply_status" property="applyStatus" jdbcType="VARCHAR" />
		<result column="ptn_id" property="ptnId" jdbcType="VARCHAR" />
		<result column="IS_NORMAL_IMAGE" property="isNormalImage"
			jdbcType="BIT" />
		<result column="LABEL_ACCNUM" property="labelAccnum" jdbcType="VARCHAR" />
		<result column="STATUS_CODE" property="statusCode" jdbcType="VARCHAR" />
		<result column="STATUS" property="status" jdbcType="VARCHAR" />
		<result column="LABEL_USER" property="labelUser" jdbcType="VARCHAR" />
		<result column="LABEL_TIME" property="labelTime" jdbcType="TIMESTAMP" />
		<result column="CRT_TIME" property="crtTime" jdbcType="TIMESTAMP" />
		<result column="AUDIT_USER" property="auditUser" jdbcType="VARCHAR" />
		<result column="AUDIT_TIME" property="auditTime" jdbcType="TIMESTAMP" />
		<result column="label_Task_Code" property="labelTaskCode"
			jdbcType="VARCHAR" />
		<result column="label_Task" property="labelTask" jdbcType="VARCHAR" />
		<result column="nidus_Type_Code" property="nidusTypeCode"
			jdbcType="VARCHAR" />
		<result column="nidus_Type" property="nidusType" jdbcType="VARCHAR" />
	</resultMap>
	<select id="selectByParams" resultMap="BaseResultMap"
		parameterType="com.jfhealthcare.modules.label.request.ViewLabellistRequest">
		select
		check_num,study_uid,series_uid,body_part,series_number,modality,ptn_name,birth_date,sex,sex_code,ptn_age,ptn_age_unit,ptn_age_unit_code,hight,weight,Wmodality,study_time
		,Wbody_part,apply_doc,apply_org,apply_status_code,apply_status,ptn_id,IS_NORMAL_IMAGE,LABEL_ACCNUM,STATUS_CODE,STATUS,LABEL_USER,LABEL_TIME,AUDIT_USER,AUDIT_TIME,
		label_Task_Code,label_Task,nidus_Type_Code,nidus_Type,crt_time
		from
		view_labellist
		<where>
			<if test="checkNum != null and checkNum != ''">
				check_num = #{checkNum,jdbcType=VARCHAR}
			</if>
			<if test="applyOrg != null and applyOrg != ''">
				and apply_org = #{applyOrg,jdbcType=VARCHAR}
			</if>
			<if test="labelTask != null and labelTask != ''">
				and label_Task like
				concat(concat('%',#{labelTask,jdbcType=VARCHAR}),'%')
			</if>
			<if test="nidusType != null and nidusType != ''">
				and nidus_Type like
				concat(concat('%',#{nidusType,jdbcType=VARCHAR}),'%')
			</if>
			<if test="bodyPart != null and bodyPart != ''">
				and body_part = #{bodyPart,jdbcType=VARCHAR}
			</if>
			<if test="fromLabelDate != null and endLabelDate != null">
				and LABEL_TIME &gt;= #{fromLabelDate,jdbcType=TIMESTAMP}
				and LABEL_TIME &lt;= #{endLabelDate,jdbcType=TIMESTAMP}
			</if>
			<if test="fromDicomDate != null and endDicomDate != null">
				and study_time &gt;= #{fromDicomDate,jdbcType=TIMESTAMP}
				and study_time &lt;= #{endDicomDate,jdbcType=TIMESTAMP}
			</if>

			<if test="fromApplyDate != null and endApplyDate != null">
				and crt_time &gt;= #{fromApplyDate,jdbcType=TIMESTAMP}
				and crt_time &lt;= #{endApplyDate,jdbcType=TIMESTAMP}
			</if>

			<if test="auditUser !=null and auditUser != ''">
				and audit_user like
				concat(concat('%',#{auditUser,jdbcType=VARCHAR}),'%')
			</if>

			<if test="labelUser !=null and labelUser != ''">
				and LABEL_USER like
				concat(concat('%',#{labelUser,jdbcType=VARCHAR}),'%')
			</if>

			<if test="modality !=null and modality != ''">
				and modality like
				concat(concat('%',#{modality,jdbcType=VARCHAR}),'%')
			</if>
			<if test="ptnName !=null and ptnName != ''">
				and ptn_name like
				concat(concat('%',#{ptnName,jdbcType=VARCHAR}),'%')
			</if>
			<if test="sexCode != null and sexCode !=''">
				and sex_code = #{sexCode,jdbcType=VARCHAR}
			</if>
			<if test="sex != null and sex != ''">
				and sex = #{sex,jdbcType=VARCHAR}
			</if>
			<if test="statusCode != null and statusCode !='' and statusCode.length>0">
				and STATUS_CODE in
				<foreach collection="statusCode" index="index" item="sc"
					open="(" separator="," close=")">
					#{sc}
				</foreach>
			</if>
			<if test="status != null and status != '' and status.length>0">
				and status in
				<foreach collection="status" index="index" item="st"
					open="(" separator="," close=")">
					#{st}
				</foreach>
			</if>
			<if test="modalitys != null and modalitys !='' and modalitys.length>0">
				and modality in
				<foreach collection="modalitys" index="index" item="mo"
					open="(" separator="," close=")">
					#{mo}
				</foreach>
			</if>
			<if
				test="ptnAge != null and ptnAge != '' and ptnAgeUnitCode !=null and ptnAgeUnitCode != ''">
				and ptn_age = #{ptnAge,jdbcType=VARCHAR}
				and ptn_age_unit_code =
				#{ptnAgeUnitCode,jdbcType=VARCHAR}
			</if>
		</where>
		order by crt_time desc
	</select>
</mapper>