<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jfhealthcare.modules.system.mapper.SysArmariumOperMapper" >
  <resultMap id="BaseResultMap" type="com.jfhealthcare.modules.system.entity.SysArmariumOper" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="BIT" />
    <result column="LOGINCODE" property="logincode" jdbcType="VARCHAR" />
    <result column="ARAMRIUM" property="aramrium" jdbcType="VARCHAR" />
    <result column="ARAMRIUM_ID" property="aramriumId" jdbcType="VARCHAR" />
  </resultMap>
</mapper>