<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jfhealthcare.modules.system.mapper.SysDictBodypartMapper" >
  <resultMap id="BaseResultMap" type="com.jfhealthcare.modules.system.entity.SysDictBodypart" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="CHECKTYPE_CODE" property="checktypeCode" jdbcType="VARCHAR" />
    <result column="CHECKTYPE_NAME" property="checktypeName" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="OTHERVALUE" property="othervalue" jdbcType="VARCHAR" />
    <result column="OTHERVALUE2" property="othervalue2" jdbcType="VARCHAR" />
    <result column="CRT_USER" property="crtUser" jdbcType="VARCHAR" />
    <result column="CRT_TIME" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="UPD_USER" property="updUser" jdbcType="VARCHAR" />
    <result column="UPD_TIME" property="updTime" jdbcType="TIMESTAMP" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="BIT" />
    <result column="NINDEX" property="nindex" jdbcType="INTEGER" />
    <result column="NAMEPY" property="namepy" jdbcType="VARCHAR" />
    <result column="NAMEWB" property="namewb" jdbcType="VARCHAR" />
  </resultMap>
</mapper>