<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jfhealthcare.modules.system.mapper.SysDictBodypartMapper">
  <resultMap id="BaseResultMap" type="com.jfhealthcare.modules.system.entity.SysDictBodypart">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="CHECKTYPE_CODE" jdbcType="VARCHAR" property="checktypeCode" />
    <result column="CHECKTYPE_NAME" jdbcType="VARCHAR" property="checktypeName" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="OTHERVALUE" jdbcType="VARCHAR" property="othervalue" />
    <result column="OTHERVALUE2" jdbcType="VARCHAR" property="othervalue2" />
    <result column="CRT_USER" jdbcType="VARCHAR" property="crtUser" />
    <result column="CRT_TIME" jdbcType="TIMESTAMP" property="crtTime" />
    <result column="UPD_USER" jdbcType="VARCHAR" property="updUser" />
    <result column="UPD_TIME" jdbcType="TIMESTAMP" property="updTime" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="STATUS" jdbcType="BIT" property="status" />
    <result column="NINDEX" jdbcType="INTEGER" property="nindex" />
    <result column="NAMEPY" jdbcType="VARCHAR" property="namepy" />
    <result column="NAMEWB" jdbcType="VARCHAR" property="namewb" />
  </resultMap>
</mapper>