<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jfhealthcare.modules.system.mapper.SysRoleMapper" >
  <resultMap id="BaseResultMap" type="com.jfhealthcare.modules.system.entity.SysRole" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="NAMEPY" property="namepy" jdbcType="VARCHAR" />
    <result column="NAMEWB" property="namewb" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="BIT" />
    <result column="ISDELETE" property="isdelete" jdbcType="BIT" />
    <result column="UPD_USER" property="updUser" jdbcType="VARCHAR" />
    <result column="UPD_TIME" property="updTime" jdbcType="TIMESTAMP" />
    <result column="CRT_USER" property="crtUser" jdbcType="VARCHAR" />
    <result column="CRT_TIME" property="crtTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <select id="selectRolesByLoginCode"  parameterType="String" resultMap="BaseResultMap">
     SELECT b.* 
     from sys_oper_role a,sys_role b 
      <where>
        a.LOGINCODE=#{logincode,jdbcType=VARCHAR} 
        and a.ROLE_ID=b.ID and b.`STATUS`='1' and ISDELETE='0'
      </where> 
    </select>
  
</mapper>