<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jfhealthcare.modules.business.mapper.BusinPatientInfoMapper" >
  <resultMap id="BaseResultMap" type="com.jfhealthcare.modules.business.entity.BusinPatientInfo" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="PAT_ID" property="patId" jdbcType="VARCHAR" />
    <result column="CARD_NO" property="cardNo" jdbcType="VARCHAR" />
    <result column="IHP_NO" property="ihpNo" jdbcType="VARCHAR" />
    <result column="VISID" property="visid" jdbcType="INTEGER" />
    <result column="CHECKLIST_ID" property="checklistId" jdbcType="VARCHAR" />
  </resultMap>
</mapper>