<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jfhealthcare.modules.business.mapper.BusinCheckDmcRecordMapper" >
  <resultMap id="BaseResultMap" type="com.jfhealthcare.modules.business.entity.BusinCheckDmcRecord" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="ACCESSION_NUM" property="accessionNum" jdbcType="VARCHAR" />
    <result column="ACCESSION_NUM_IMG" property="accessionNumImg" jdbcType="VARCHAR" />
    <result column="UID_IMG" property="uidImg" jdbcType="VARCHAR" />
  </resultMap>
</mapper>