<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jfhealthcare.modules.apply.mapper.ApplyImageMapper" >
  <resultMap id="BaseResultMap" type="com.jfhealthcare.modules.apply.entity.ApplyImage" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="instance_uid" property="instanceUid" jdbcType="VARCHAR" />
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="series_uid" property="seriesUid" jdbcType="VARCHAR" />
    <result column="image_number" property="imageNumber" jdbcType="VARCHAR" />
    <result column="transfer_uid" property="transferUid" jdbcType="VARCHAR" />
    <result column="class_uid" property="classUid" jdbcType="VARCHAR" />
    <result column="backup_label" property="backupLabel" jdbcType="VARCHAR" />
    <result column="source_ae" property="sourceAe" jdbcType="VARCHAR" />
    <result column="rcvd_date" property="rcvdDate" jdbcType="VARCHAR" />
    <result column="rcvd_time" property="rcvdTime" jdbcType="VARCHAR" />
    <result column="file_size" property="fileSize" jdbcType="INTEGER" />
    <result column="transaction_uid" property="transactionUid" jdbcType="VARCHAR" />
    <result column="imgae_deleted" property="imgaeDeleted" jdbcType="BIT" />
    <result column="key_image" property="keyImage" jdbcType="BIT" />
    <result column="n_rows" property="nRows" jdbcType="INTEGER" />
    <result column="n_columns" property="nColumns" jdbcType="INTEGER" />
    <result column="bits_allocated" property="bitsAllocated" jdbcType="INTEGER" />
    <result column="n_frames" property="nFrames" jdbcType="INTEGER" />
    <result column="pr_label" property="prLabel" jdbcType="VARCHAR" />
    <result column="pr_desc" property="prDesc" jdbcType="VARCHAR" />
    <result column="pr_time" property="prTime" jdbcType="VARCHAR" />
    <result column="pr_date" property="prDate" jdbcType="VARCHAR" />
    <result column="pr_creator" property="prCreator" jdbcType="VARCHAR" />
    <result column="UPD_USER" property="updUser" jdbcType="VARCHAR" />
    <result column="UPD_TIME" property="updTime" jdbcType="TIMESTAMP" />
    <result column="CRT_USER" property="crtUser" jdbcType="VARCHAR" />
    <result column="CRT_TIME" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="image_file" property="imageFile" jdbcType="LONGVARCHAR" />
  </resultMap>
</mapper>